<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duolight.projeteg23">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetEG23">
        <activity
            android:name=".controller.FinDePartie"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".controller.Combat"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".controller.DeploiementArmee"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".controller.Reserve"
             android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".controller.RepartitionPoints"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".controller.ChoixProgramme"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".controller.Didacticiel_2"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".controller.Didacticiel"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".controller.MainActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
